
/* body */
img{
  vertical-align: bottom;
}

.section {
  text-align: center;
  font-size: 200%;
  /* height: 1200px; */
}     

/* MENU */
#menu{
  text-align: center;
}
#menu li {
  display:inline-block;
  margin: 10px;
  color: #000;
  background:#fff;
  background: rgba(255,255,255, 0.5);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#menu li:nth-child(3){
  margin-top: 10px;
  padding: 9px 0 9px 3px;

}
#menu li.active{
  background:#666;
  background: rgba(0,0,0, 0.5);
  color: #fff;
}
#menu li a{
  text-decoration:none;
  color: #000;
}
#menu li.active a:hover{
  color: #000;
}
#menu li:hover{
  background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
  padding: 9px 18px;
  display:block;
}
#menu li.active a{
  color: #fff;
}
#menu{
  position:fixed;
  top:0;
  left:0;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin:0;
  padding-left: 36px;

}

/* MOVEDOWN */
#moveDown {
  bottom: 16px;
  left: 50%;
  line-height: 0;
  margin: 0 0 0 -32px;
  position: fixed;
  z-index: 100;
}
/* .hide {
  opacity: 0 !important;
} */

/* NEWS */
/* リボン */
.ribbon01 {
  box-sizing: border-box;
  height: 45px;
  margin: 30px auto;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 160px;
  z-index: 2;
  padding-top: 178px;
  
  }
  
  .ribbon01::before,
  .ribbon01::after {
  border-color: #d64926;
  border-style: solid;
  bottom: -56px;
  content: '';
  position: absolute;
  width: 0;
  z-index: -1;
  
  }
  
  .ribbon01::before {
  border-left-color: transparent;
  border-width: 20px 15px 20px 15px;
  left: -20px;
  
  }
  
  .ribbon01::after {
  border-right-color: transparent;
  border-width: 20px 15px 20px 15px;
  right: -20px;
  }
  
  h2.ribbon {
  font-size: 14px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
  }
  
  .ribbon {
  background: #ff6c48;
  color: #fff;
  position: relative;
  vertical-align: middle;
  margin: 0;
  padding: 0 30px 0 30px;
  border-top: dashed 1px #FFF;
  border-bottom: dashed 1px #FFF;
  line-height: 46px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
  }

  
  .ribbon::before,
  .ribbon::after {
  border: none;
  border-bottom: solid 10px transparent;
  content: '';
  position: absolute;  
  top: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
  }
  
  .ribbon::before {
  left: 0;
  border-right: solid 10px #b52908;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
  }
  
  .ribbon::after {
  right: 0;
  border-left: solid 10px #b52908;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
  }

  /* twetterリボン */
.ribbon02 {
  box-sizing: border-box;
  height: 45px;
  margin: 30px auto;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 160px;
  z-index: 2;
  padding-top: 178px;
  }
  
  .ribbon02::before,
  .ribbon02::after {
  border-color: #0098d4;
  border-style: solid;
  bottom: -56px;
  content: '';
  position: absolute;
  width: 0;
  z-index: -1;
  }
  
  .ribbon02::before {
  border-left-color: transparent;
  border-width: 20px 15px 20px 15px;
  left: -20px;
  }
  
  .ribbon02::after {
  border-right-color: transparent;
  border-width: 20px 15px 20px 15px;
  right: -20px;
  }
  
  h2.ribbon2 {
  font-size: 14px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
  }
  
  .ribbon2 {
  background: #00acee;
  color: #fff;
  position: relative;
  vertical-align: middle;
  margin: 0;
  padding: 0 30px 0 30px;
  border-top: dashed 1px #FFF;
  border-bottom: dashed 1px #FFF;
  line-height: 46px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
  }

  
  .ribbon2::before,
  .ribbon2::after {
  border: none;
  border-bottom: solid 10px transparent;
  content: '';
  position: absolute;  
  top: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
  }
  
  .ribbon2::before {
  left: 0;
  border-right: solid 10px #006a92;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
  }
  
  .ribbon2::after {
  right: 0;
  border-left: solid 10px #006a92;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
  }

  /* NEWS枠 */
.info {    
  margin: 0px auto;
  padding: 25px 1.5em 0;
  border: 5px solid #495686;
  text-align: left;
  font-size: 12px;
  /* line-height: 1.3; */
  color: #444;
  overflow: auto;
  width: 560px;
  height: 300px;
  background-color: #fcfcfc;
  margin-bottom: -43px;
  border-radius: 12px;
  /* overflow: hidden; */
  overflow-y: scroll;
}
.info dl {padding: 0.5em 0;border-bottom: 1px solid #9bd1ff;}
.info dt {padding-bottom: 0;width: 6em;}
@media screen and (min-width: 480px) {
  .info dt {clear: left;float: left;}
  .info dd {margin-left: 0.5em;}
}

/* Twitter枠 */
.info1 {    
  margin: 0px auto;
  padding: 25px 1.5em 0;
  border: 5px solid #495686;
  text-align: left;
  font-size: 12px;
  /* line-height: 1.3; */
  color: #444;
  overflow: auto;
  width: 302px;
  height: 300px;
  background-color: #fcfcfc;
  margin-bottom: -43px;
  border-radius: 12px;
  /* overflow: hidden; */
  overflow-y: scroll;
}
.info1 dl {padding: 0.5em 0;border-bottom: 1px solid #9bd1ff;}
.info1 dt {padding-bottom: 0;width: 6em;}
@media screen and (min-width: 480px) {
  .info1 dt {clear: left;float: left;}
  .info1 dd {margin-left: 0.5em;}
}

dt {
  color: #57a81b;
}

dd {
  margin: 0!important;
}

/*スクロールバー全体*/
::-webkit-scrollbar {
  width: 10px;

}

/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
border-radius: 10px;
box-shadow: inset 0 0 6px rgba(0, 0, 0,);

}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
/* background-color: rgba(0, 0, 50, .5); */
background-color: #9ad1ff;
border-radius: 10px;
box-shadow:0 0 0 1px rgba(255, 255, 255, .3);

}

.twetter_inner .info {
  width: 80%;
}

  /* 新着情報 */
  .msr_newslist04 {
    border-top: 5px solid #000000;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }

  .msr_newslist04 li {
    border-bottom: 1px solid #000000;
    font-size: 14px;
  }
  .msr_newslist04 li a {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #000000;
    display: table;
    padding: 10px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    width: 100%;
  }
  .msr_newslist04 li a:hover {
    text-decoration: none;
    background: rgba(255,255,255, 0.3);
  }
  .msr_newslist04 li div {
    padding-bottom: 10px;
    width: 144px;
  }
  .msr_newslist04 li p {
    vertical-align: middle;
  }
  /* 時間の設定 */
  .msr_newslist04 li time {
    display: table-cell;
    vertical-align: top;
    width: 90px;
  }
  /* カテゴリの設定 */
  .msr_newslist04 li .cat01, .msr_newslist04 li .cat02 {
    background-color: #000000;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: table-cell;
    color: #FFFFFF;
    font-size: 10px;
    padding: 0 2px;
    text-align: center;
    width: 50px;
  }
  .msr_newslist04 li .cat02 {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    color: #000000;
  }
  .text{
    margin-top: -4px;
    margin-bottom: 16px;
    margin-right: 40px;
  }

  /* BG */

  /* NEWS-BG */
.bg_news {
    text-align:  center;    /* 文字中央寄せ */
    /* padding:  150px;        余白指定 */
    /* border: solid 2px;      枠線指定 */
    width: 100%;
    height: 100%;
    background-image: url("../img/news1.jpg");
    /* background-repeat: no-repeat; */
    background-size: 100% 100%;
    display: flex;
    justify-content: space-around;
}

.bg_slide1-text {
    /*border:  solid 1px;*/                             /* 枠線指定 */
    display:  inline-block;                         /* インラインブロックにする */
    padding: 10px 20px;                             /* 余白指定 */
    /*background-color: rgba(255, 255, 255, 0.7);*/     /* 背景色指定 */
    margin-top: 177px;
    color: #000;
    -webkit-text-stroke: 1px #FFF;
    text-stroke: 1px #FFF;
    
}
.front{
  color: #0090ff;
  font-weight: bold;
  z-index: 5;
}
.back{
  color: #f15d7d;
  font-size: 40px;
  font-weight: bold;
}
.system-wrapper{
  background-image: url("../img/pink3.png");
  background-size: 424px;
}

/* SYSTEM */
/* SYSTEM-BG */
.bg_slide1 {
    text-align:  center;    /* 文字中央寄せ */
    width: 100%;
    height: 100%;
    background-image: url("../img/slide1.jpg");
    background-size: 100% 100%;
}


.bg_slide2-text {
    border:  solid 1px;                             /* 枠線指定 */
    display:  inline-block;                         /* インラインブロックにする */
    padding: 10px 20px;                             /* 余白指定 */
    background-color: rgba(255, 255, 255, 0.7);     /* 背景色指定 */
}
.bg_slide2 {
    text-align:  center;    /* 文字中央寄せ */
    /* padding:  150px;        余白指定 */
    /* border: solid 2px;      枠線指定 */
    width: 100%;
    height: 100%;
    background-image: url("../img/slide2.jpg");
    /* background-repeat: no-repeat; */
    background-size: 100% 100%;
}

.bg_slide3-text {
    border:  solid 1px;                             /* 枠線指定 */
    display:  inline-block;                         /* インラインブロックにする */
    padding: 10px 20px;                             /* 余白指定 */
    background-color: rgba(255, 255, 255, 0.7);     /* 背景色指定 */
}
.bg_slide3 {
    text-align:  center;    /* 文字中央寄せ */
    /* padding:  150px;        余白指定 */
    /* border: solid 2px;      枠線指定 */
    width: 100%;
    height: 100%;
    background-image: url("../img/slide3.jpg");
    /* background-repeat: no-repeat; */
    background-size: 100% 100%;
}

.bg_slide4-text {
    border:  solid 1px;                             /* 枠線指定 */
    display:  inline-block;                         /* インラインブロックにする */
    padding: 10px 20px;                             /* 余白指定 */
    background-color: rgba(255, 255, 255, 0.7);     /* 背景色指定 */
}
.bg_slide4 {
    text-align:  center;    /* 文字中央寄せ */
    /* padding:  150px;        余白指定 */
    /* border: solid 2px;      枠線指定 */
    width: 100%;
    height: 100%;
    background-image: url("../img/slide4_2.jpg");
    /* background-repeat: no-repeat; */
    background-size: 100% 100%;
}

.bg_slide5-text {
    border:  solid 1px;                             /* 枠線指定 */
    display:  inline-block;                         /* インラインブロックにする */
    padding: 10px 20px;                             /* 余白指定 */
    background-color: rgba(255, 255, 255, 0.7);     /* 背景色指定 */
}

/* CHARACTER */
/* CHARACTER-BG */
.bg_character {
  text-align:  center;    /* 文字中央寄せ */
  /* padding:  150px;        余白指定 */
  /* border: solid 2px;      枠線指定 */
  width: 100%;
  height: 100%;
  background-image: url("../img/page4.jpg");
  /* background-repeat: no-repeat; */
  background-size: 100% 100%;
}


/* FOOTER */
/* FOOTER-IMAGEMAP */
.map{
  display: none;
}

/* FOOTER-BG */
.bg_footer {
  text-align:  center;    /* 文字中央寄せ */
  /* padding:  150px;        余白指定 */
  /* border: solid 2px;      枠線指定 */
  width: 100%;
  height: 100%;
  background-image: url("../img/footer.jpg");
  /* background-repeat: no-repeat; */
  background-size: 100% 100%;
  display: flex;
  justify-content: space-around;
}

/* FOOTER-IMG */
.app{
margin-top: 390px;
}

.google{
  margin-top: 414px;
}

/* width 375px以下(iphoneX) */
@media screen and (max-width: 375px) {

  /* MENU */
  #menu {
    position: fixed;
    top: 0;
    left: 0;
    /* height: 29px; */
    z-index: 70;
    width: 80%;
    padding: 0;
    margin: 0;
    padding-left: 36px;
}

/* NEWS */
  .bg_news {
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: url(../img/news1.jpg);
    background-size: 698px 812px;
    display: inline-block;
}

  .news_inner{
    margin-top: 114px;
  }

/* NEWS枠 */
  .info {
    margin: 0px auto;
    padding: 25px 1.5em 0;
    border: 5px solid #495686;
    text-align: left;
    font-size: 12px;
    /* line-height: 1.3; */
    color: #444;
    overflow: auto;
    width: 300px;
    height: 151px;
    background-color: #fcfcfc;
    margin-bottom: -188px;
    border-radius: 12px;
    /* overflow: hidden; */
    overflow-y: scroll;
}

/* Twetter枠 */
  .info1 {
    margin: 0px auto;
    padding: 25px 1.5em 0;
    border: 5px solid #495686;
    text-align: left;
    font-size: 12px;
    /* line-height: 1.3; */
    color: #444;
    overflow: auto;
    width: 300px;
    height: 151px;
    background-color: #fcfcfc;
    margin-bottom: -43px;
    border-radius: 12px;
    /* overflow: hidden; */
    overflow-y: scroll;
}

/* SYSTEM */
/* SYSTEM-BG */
.bg_slide1 {

  width: 375px;
  height: 812px;
  background-image: url(../img/SPslide1.jpg);
  background-repeat: no-repeat;
  background-size: 375px 812px;
}

.bg_slide2 {

  width: 375px;
  height: 812px;
  background-image: url(../img/SPslide2.jpg);
  background-repeat: no-repeat;
  background-size: 375px 812px;
}

.bg_slide3 {

  width: 375px;
  height: 812px;
  background-image: url(../img/SPslide3.jpg);
  background-repeat: no-repeat;
  background-size: 375px 812px;
}

.bg_slide4 {

  width: 375px;
  height: 812px;
  background-image: url(../img/SPslide4.jpg);
  background-repeat: no-repeat;
  background-size: 375px 812px;
}

/* CHARACTER */
.bg_character {
  width: 375px;
  height: 812px;
  background-image: url(../img/SPpage4.jpg);
  background-repeat: no-repeat;
  background-size: 375px 812px;
}

/* FOOTER */
.bg_footer {
  width: 375px;
  height: 812px;
  /* background-image: url(../img/footer1.jpg); */
  background-image: none;
  background-repeat: no-repeat;
  background-size: 375px 812px;
}

/* FOOTER-IMAGEMAP */
.map{
  display: block;
}

/* FOOTER-IMG */
.app{
  display: none;
  }
  
  .google{
    display: none;
  }
}

/*height 667px以下(iphone6/7/8) */
@media screen and (max-height: 667px) {

  /* MENU */
  #menu {
    position: fixed;
    top: 0;
    left: 0;
    /* height: 29px; */
    z-index: 70;
    width: 80%;
    padding: 0;
    margin: 0;
    padding-left: 36px;
}

/* MOVIE */
video {
  padding-top: 128px;
}

/* NEWS */
  .bg_news {
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: url(../img/news1.jpg);
    background-size: 698px 667px;
    display: inline-block;
}

  .news_inner{
    margin-top: 114px;
  }

/* NEWS枠 */
  .info {
    margin: 0px auto;
    padding: 25px 1.5em 0;
    border: 5px solid #495686;
    text-align: left;
    font-size: 12px;
    /* line-height: 1.3; */
    color: #444;
    overflow: auto;
    width: 300px;
    height: 80px;
    background-color: #fcfcfc;
    margin-bottom: -188px;
    border-radius: 12px;
    /* overflow: hidden; */
    overflow-y: scroll;
}

/* Twetter枠 */
  .info1 {
    margin: 0px auto;
    padding: 25px 1.5em 0;
    border: 5px solid #495686;
    text-align: left;
    font-size: 12px;
    /* line-height: 1.3; */
    color: #444;
    overflow: auto;
    width: 300px;
    height: 80px;
    background-color: #fcfcfc;
    margin-bottom: -43px;
    border-radius: 12px;
    /* overflow: hidden; */
    overflow-y: scroll;
}

/* SYSTEM */
/* SYSTEM-BG */
.bg_slide1 {

  width: 375px;
  height: 667px;
  background-image: url(../img/SPslide1_1.jpg);
  background-repeat: no-repeat;
  background-size: 375px 667px;
}

.bg_slide2 {

  width: 375px;
  height: 667px;
  background-image: url(../img/SPslide2_1.jpg);
  background-repeat: no-repeat;
  background-size: 375px 667px;
}

.bg_slide3 {

  width: 375px;
  height: 667px;
  background-image: url(../img/SPslide3_1.jpg);
  background-repeat: no-repeat;
  background-size: 375px 667px;
}

.bg_slide4 {

  width: 375px;
  height: 667px;
  background-image: url(../img/SPslide4_1.jpg);
  background-repeat: no-repeat;
  background-size: 375px 667px;
}

/* CHARACTER */
.bg_character {
  width: 375px;
  height: 667px;
  background-image: url(../img/SPpage4_1.jpg);
  background-repeat: no-repeat;
  background-size: 375px 667px;
}

/* FOOTER */
.bg_footer {
  width: 375px;
  height: 667px;
  background-image: url(../img/SPfooter1.jpg);
  background-repeat: no-repeat;
  background-size: 375px 785px;
}

/* FOOTER-IMAGEMAP */
.map{
  display: block;
}

/* FOOTER-IMG */
.app{
  display: none;
  }
  
  .google{
    display: none;
  }
}