@charset "utf-8";
#about .wrapper {
	margin: 0 auto;
	width: 900px;
}
#about h2 {
	text-align: center;
	margin-top: 50px;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 30px;
}

#about h3, p  {
	margin-bottom: 20px;
}

#about .about {
	text-align: center;
}
#about .appeal  {
	text-align: left;
}
#about table th {
	width: 100px;
}
#about table td {
	width: 800px;
	margin-left: 150px;
	text-align: left;
}
