@charset "utf-8";

#course h2{
	width: 100%;
	height: 150px;
	padding-top: 50px;
	padding-left: calc((100% - 1000px) / 2);
	line-height: 50px;
	color: #fff;
	background-image: url(../img/nav_under.jpg);
	background-size: cover;
	margin-top: 100px;
}

#course a {
	color: #000;
	text-decoration: none;
}

#course .wrapper{
	max-width: 1000px;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 70px;
	justify-content: space-between;
}
#course .courselist {
	padding-bottom: 100px;

}
#course .courselist p {
	text-align: center;
	margin-top: 30px;
}

#cource article{
	display: flex;
	margin: 10px 0;
	/* [disabled]overflow: hidden; */
}




#course .title {
	width: 35%;
	height: 300px;
	display: table-cell;
	padding: 10px;
	vertical-align: middle;
}

#course .title h3 {
	font-size: 2.35rem;
	text-align: center;
}
#course .text {
	width: 65%;
	height: 300px;
	display: table-cell;
	padding: 25px 20px;
}

#course .text span {
	font-size: 1.41rem;

}
#course .text p {
	text-indent: -1rem;
	padding-left: 1rem;
	line-height: 30px;
	margin-bottom: 0px;
}
#course article:nth-of-type(odd) .title {
	background-color: #2fb8d9;
}
#course article:nth-of-type(odd) .text {
	border: 1px solid #2fb8d9;
}
#course article:nth-of-type(even) .title {
	background-color: #97be51;
}
#course article:nth-of-type(even) .text {
	border: 1px solid #97be51;
}
.wrapper .tools {
	background-color: #E7B6B7;
}

#course .tools h3 {
	font-size: 1.88rem;
	text-align: center;
}
.wrapper .tools .text  {
	margin: 20px 0;
}
