@charset "utf-8";
#faq {
	margin: 0 auto;
	width: 100%;

}
#faq h2 {
	height: 150px;
	background-image: url(../img/nav_under.jpg);
	padding-top: 50px;
	padding-left: calc((100% - 1000px) / 2);
	line-height: 50px;
	background-repeat: no-repeat;
	color: #fff;
	background-size: cover;
}
#faq a  {
	color: #000;
	text-decoration: none;
}
#faq .wrapper {
	margin: 0 auto 70px;
	max-width: 1090px;
	border: 5px solid #97BE51;
	padding: 40px 50px;
	border-radius: 10px;
}
#faq article {
	margin-bottom: 100px;
}
#faq article:last-of-type {
	margin-bottom: 0px;
}
#faq article h3 {
	font-weight: bold;
	font-size: 1.41rem;
	text-indent: -1.41rem;
	padding-left: 1.41rem;
}

#faq article p {
	margin: 20px 0;
	text-indent: -1rem;
	padding-left: 1rem;
}

@media screen and (max-width:740px){
#faq .wrapper {
	margin: 0 auto 70px;
	border: none;
	padding-top: 40px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 40px;
	border-radius: 10px;
	max-width: 740px;
}
#faq .topic-path {
	display: none;
}




}
